################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


.vs/

.metals/metals.log
.metals/metals.mv.db
.env