package components

templ Navigation(){
    	<body class="body bg-white dark:bg-[#0F172A]">
			<div class="fixed w-full z-30 flex bg-white dark:bg-[#0F172A] p-2 items-center justify-center h-16 px-10">
				@Spacer()
			</div>
			@SideNav()
			<!-- CONTENT -->
			
					{children...}
			
		
		</body>
}