package views

templ DomainUrlValidation(valid bool, domain string,errors map[string](string)) {
	if errors["domain"] != "" {
		<div class="input-group position-relative">
			<input
				name="domain"
				type="text"
				class="form-control is-invalid"
				placeholder="Domain url"
				value={ domain }
				aria-label="domain url"
				hx-post="/project/validation/domain"
				hx-target="#domain-validation"
			/>
			if  errors["domain"] != "" {
				<div class="invalid-feedback" style="display: block;">
					{ errors["domain"] }
				</div>
			}
		</div>
	} else {
		<div class="input-group position-relative">
			<input
				name="domain"
				type="text"
				value={ domain }
				class="form-control"
				placeholder="Domain url"
				aria-label="domain url"
				hx-post="/project/validation/domain"
				hx-target="#domain-validation"
			/>
		</div>
	}
}
