<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Your Password</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
    <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #f4f4f4; padding: 20px;">
        <tr>
            <td align="center">
                <table width="600" cellpadding="0" cellspacing="0" border="0"
                    style="background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                    <tr>
                        <td style="text-align: center; padding-bottom: 20px;">
                            <h1 style="color: #333333;">Reset Your Password</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #333333; font-size: 16px;">
                            <p>Dear <strong>{{.FirstName}} {{.LastName}}</strong>,</p>
                            <p>We received a request to reset your password for your account. If you didn't make this
                                request, you can safely ignore this email. If you did make this request, please click
                                the link below to reset your password:</p>
                            <p style="text-align: center;">
                                <a href="{{.ResetPasswordLink}}"
                                    style="display: inline-block; background-color: #007BFF; color: #ffffff; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-size: 16px;">Reset
                                    Password</a>
                            </p>
                            <p>If you have any issues, feel free to contact our support team.</p>
                            <p>Thank you,</p>
                            <p><strong>The Otoo Team</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>