package views

import (
	t "github.com/stelgkio/otoo/internal/adapter/web/view/dashboard/template"
	"github.com/stelgkio/otoo/internal/core/domain"
)

templ VoucherTemplate(user *domain.User, projectName string, projectId string) {
	@t.DashboardTemplate(user, projectName, projectId) {
		@VoucherOverview(projectId)
	}
}
