
        body {
            font-family: Arial, sans-serif;
            background: #3f3b6d;
            color: white;
            padding: 20px;
        }
        .section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            padding: 20px;
            border-radius: 5px;
            background: #5f5b9d;
        }
        h1, h2 {
            color: #cfc9ff;
        }
        a {
            color: #ff8f00;
        }


