
           <div
                data-animation="default"
                class="navbar-component w-nav"
                data-easing2="ease"
                fs-scrolldisable-element="smart-nav"
                data-easing="ease"
                data-collapse="medium"
                data-w-id="f6aa0546-fee1-c5f0-b759-2292d34524ab"
                role="banner"
                data-duration="400"
            >

            </div>
            <div class="main-wrapper">
                <header class="section-hero-header background-cell">
                    <div class="padding-global">
                        <div data-w-id="9ec08b96-1a94-30a2-69d8-7c316ea68382" class="container-large">
                            <div class="padding-section-large">
                                <div class="header-component">
                                    <div class="margin-bottom margin-xxlarge">
                                        <div class="text-align-center">
                                            <div
                                                data-w-id="9ec08b96-1a94-30a2-69d8-7c316ea68387"
                                                style="
                                                    opacity: 0;
                                                    -webkit-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                                    -moz-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                                    -ms-transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                                    transform: translate3d(0, 40px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                                "
                                                class="max-width-large"
                                            >
                                                <div class="margin-bottom margin-small"><h1 class="hero-text">Konektor<mark>X</mark></h1></div>
                                                <h2 class="text-color-gradient margin-small">The Ultimate e-Commerce to ERP Integration Solution & more</h2>
                                                    <p>Enhance your design system by creating your own source of truth, improve collaboration between design and development and reduce manual work.</p>
                                                <div class="margin-top margin-medium">
                                                    <div class="button-group is-center">
                                                        <a href="#" class="button w-button">Get Started</a>
                                                        <a href="#" class="button is-secondary w-button">Sign in</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div data-w-id="9ec08b96-1a94-30a2-69d8-7c316ea68393" class="hero-header-image-wrapper">
                                        <div data-w-id="4266a1de-d1d5-9739-6aed-b3b0110a71aa" style="opacity: 0;" class="ellipse"></div>
                                        <div class="header-image-block">
                                            <img
                                                src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image.jpg"
                                                loading="eager"
                                                width="1232"
                                                alt="Saas Frame"
                                                srcset="
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image-p-500.jpg   500w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image-p-800.jpg   800w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image-p-1080.jpg 1080w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image-p-1600.jpg 1600w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image-p-2000.jpg 2000w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb5e2b923ec66dd9ff08ab_Header_Image.jpg        2624w
                                                "
                                                sizes="(max-width: 479px) 88vw, 89vw"
                                                class="hero-header-image"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <section data-w-id="66f01317-de3b-8274-fadd-e09a588bb7c2" class="section-logo">
                    <div class="padding-section-medium">
                        <div class="padding-global">
                            <div class="container-small">
                                <div class="margin-bottom margin-large">
                                    <div class="text-align-center">
                                        <div class="max-width-large align-center"><h2 class="text-size-medium">Trusted by Professionals and Teams</h2></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="logo-component">
                            <div class="logo-list">
                                <div id="w-node-_66f01317-de3b-8274-fadd-e09a588bb7cd-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df2_Logo_1.png" loading="lazy" width="167" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_66d0a517-ca16-cab8-3eeb-5db722699911-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfc_Logo_2.png" loading="lazy" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-a70b148b-ae9f-8a65-c63a-252bb2859255-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfd_Logo_3.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_66f01317-de3b-8274-fadd-e09a588bb7d3-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df3_Logo_4.png" loading="lazy" width="168" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_66f01317-de3b-8274-fadd-e09a588bb7d5-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfb_Logo_5.png" loading="lazy" width="169" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_6eed356e-4270-118d-f694-2b476bf9b458-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df4_Logo_6.png" loading="lazy" width="167" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_66f01317-de3b-8274-fadd-e09a588bb7d1-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df6_Logo_7.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_66f01317-de3b-8274-fadd-e09a588bb7cf-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df5_Logo_8.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                            </div>
                            <div class="logo-list">
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35d3-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df2_Logo_1.png" loading="lazy" width="167" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35d5-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfc_Logo_2.png" loading="lazy" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35d7-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfd_Logo_3.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35d9-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df3_Logo_4.png" loading="lazy" width="168" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35db-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6dfb_Logo_5.png" loading="lazy" width="169" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35dd-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df4_Logo_6.png" loading="lazy" width="167" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35df-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df6_Logo_7.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                                <div id="w-node-_8314b9e5-bd13-3339-0d7c-98b501ed35e1-06d88ff5" class="logo-wrapper">
                                    <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64c8dd64e3477641a09f6df5_Logo_8.png" loading="lazy" width="170" alt="Logo" class="logo" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-service">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="service-component">
                                    <div class="margin-bottom margin-xxlarge">
                                        <div class="text-align-center">
                                            <div class="max-width-large"><h2 class="text-color-gradient">Experience the key benefits</h2></div>
                                        </div>
                                    </div>
                                    <div class="w-layout-grid service-list">
                                        <div class="service-item slide-in-0-6s">
                                            <div class="margin-bottom margin-medium">
                                                <div class="service-image-wrapper">
                                                    <div data-w-id="8d391961-958a-638a-cdb4-429ae481e51b" class="circle-white"></div>
                                                    <div class="service-image-block">
                                                        <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb796f302d0b77148e74ad_Service_1.png" loading="lazy" alt="Icon" class="service-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall"><h3 class="heading-style-h5">EASY SETUP IN MINUTES</h3></div>
                                            <p>Improve your Continuous Data Workflow - KonektorX helps you gain control of your data
                                                system across all your systems, No more bugs no more working issues, All what your store needs in a simple app.</p>
                                        </div>
                                        <div class="service-item slide-in-0-6s">
                                            <div class="margin-bottom margin-medium">
                                                <div class="service-image-wrapper">
                                                    <div class="service-image-block">
                                                        <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb7b1d8ab25fa11f28989b_Service_3.png" loading="lazy" alt="Icon" class="service-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall"><h3 class="heading-style-h5">CODE FREE – HASTLE FREE</h3></div>
                                            <p>Powerful Integration Features</p>
                                            <p>Developing a real-time data synchronization solution that seamlessly connects your WooCommerce store with SoftOne ERP is a complex yet highly valuable task. By establishing this connection, you can achieve automatic inventory management, ensuring that your stock levels are always up to date.</p>
                                        </div>
                                        <div class="service-item slide-in-0-6s">
                                            <div class="margin-bottom margin-medium">
                                                <div class="service-image-wrapper">
                                                    <div class="service-image-block">
                                                        <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cb7b1705058fe9b1df9186_Service_2.png" loading="lazy" alt="Icon" class="service-image" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="margin-bottom margin-xsmall"><h3 class="heading-style-h5">Extensions for you needs</h3></div>
                                            <p>KonektorX helps you gain control of your data system across all your systems, No more bugs no more working issues, All what your store needs in a simple app.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-feature">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="feature-component">
                                    <div class="margin-bottom margin-xxlarge">
                                        <div class="max-width-large">
                                            <div class="text-align-center"><h3 class="text-color-gradient">Get Better Result with Stunning Features</h3></div>
                                        </div>
                                    </div>
                                    <div class="collection-list-wrapper w-dyn-list">
                                        <div role="list" class="feature-list w-dyn-items">
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6e92_Language.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Multilingual Support</h3></div>
                                                            <p>Enable users to access the software and content in their preferred language</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6e93_Monitoring.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Monitoring</h3></div>
                                                            <p>Monitor application performance to ensure optimal speed and uptime for users.</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6e94_Backup.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Data Backup</h3></div>
                                                            <p>data backups ensures data integrity and availability.</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6e95_Security.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Data Security</h3></div>
                                                            <p>Implement robust security measures to protect user data</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6eb1_Scalibility.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Scalability</h3></div>
                                                            <p>Scale resources up or down based on user demand</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                            <div role="listitem" class="collection-item w-dyn-item">
                                                <div class="feature-item">
                                                    <div class="margin-bottom margin-small">
                                                        <div class="feature-icon-block">
                                                            <img loading="lazy" alt="" src="https://assets.website-files.com/64c8dd64e3477641a09f6dc7/64c8dd64e3477641a09f6eb9_Integration.png" class="icon-1x1-small" />
                                                        </div>
                                                    </div>
                                                    <div class="feature-content">
                                                        <div class="margin-bottom margin-xxsmall">
                                                            <div class="margin-bottom margin-tiny"><h3 class="heading-style-h6">Integration</h3></div>
                                                            <p>APIs that allow seamless integration with other systems</p>
                                                        </div>
                                                        <div class="margin-top margin-medium">
                                                            <div class="button-group">
                                                                <a href="#" class="button is-link is-icon w-inline-block">
                                                                    <div>Learn More</div>
                                                                    <div class="icon-embed-xxsmall w-embed">
                                                                        <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M6 3L11 8L6 13" stroke="CurrentColor" stroke-width="1.5" />
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="w-node-_9a536200-c400-6652-797c-bb5474b51a72-06d88ff5" class="grey-circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-layout">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="margin-bottom margin-xxlarge">
                                    <div class="text-align-center">
                                        <div class="max-width-large align-center"><h2 class="text-color-gradient">Get Started with KonektorX in Just a Few clicks</h2></div>
                                    </div>
                                </div>
                                <div class="w-layout-grid layout-component">
                                    <div class="layout-content">
                                        <div class="margin-bottom margin-small"><h3>Easy 3-step Integration Process:</h3></div>
                                        <ul class='bx-ul'>
                                            <li><i class='bx bx-check' style='color:#a570dc'></i>Sign up for KonektorX and connect your WooCommerce store</li>
                                            <li><i class='bx bx-check' style='color:#a570dc'></i>the integration settings to map your store’s data with your ERP</li>
                                            <li><i class='bx bx-check' style='color:#a570dc'></i>Add any extension you believe is going to help your business</li>
                                        </ul>
                                    </div>
                                    <div class="layout-image-wrapper">
                                        <div data-w-id="2c2977d7-7694-393a-4da7-6f19c3a7b767" class="circle-white"></div>
                                        <div class="layout-image-block">
                                            <img
                                                class="layout-image"
                                                src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8b4870e1ef2a2b275e2e_Feature_1.png"
                                                width="574"
                                                alt="Saas Frame"
                                                style="
                                                    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(18deg) rotateY(0) rotateZ(0) skew(0, 0);
                                                    -moz-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(18deg) rotateY(0) rotateZ(0) skew(0, 0);
                                                    -ms-transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(18deg) rotateY(0) rotateZ(0) skew(0, 0);
                                                    transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(18deg) rotateY(0) rotateZ(0) skew(0, 0);
                                                    transform-style: preserve-3d;
                                                "
                                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 89vw, (max-width: 991px) 41vw, 42vw"
                                                data-w-id="a21e80d5-acce-b1d0-4a10-548ea870a823"
                                                loading="lazy"
                                                srcset="
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8b4870e1ef2a2b275e2e_Feature_1-p-500.png  500w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8b4870e1ef2a2b275e2e_Feature_1.png       1232w
                                                "
                                            />
                                            <div class="circle-white-copy"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-layout">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="w-layout-grid layout-component">
                                    <div class="layout-content">
                                        <div class="margin-bottom margin-small"><h3>Extra Extensions for you needs</h3></div>
                                        <p class="text-size-medium">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero
                                            vitae erat.
                                        </p>
                                    </div>
                                    <div class="layout-image-wrapper">
                                        <div class="circle-white"></div>
                                        <div class="layout-image-block">
                                            <img
                                                src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8eccc05ed9669343fc7c_Feature_2.png"
                                                loading="lazy"
                                                width="574"
                                                alt="Saas Frame"
                                                srcset="
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8eccc05ed9669343fc7c_Feature_2-p-500.png  500w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8eccc05ed9669343fc7c_Feature_2.png       1232w
                                                "
                                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 89vw, (max-width: 991px) 41vw, 42vw"
                                                class="layout-image"
                                            />
                                            <div class="circle-white-copy"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-layout">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="w-layout-grid layout-component">
                                    <div class="layout-content">
                                        <div class="margin-bottom margin-small"><h3>Why Choose KonektorX for your ERP Integration?</h3></div>
                                       <ul>
                                                <li>“Save time and effort by eliminating manual data entry and synchronization”</li>

                                                <li>“Reduce errors and increase accuracy with automated workflows”</li>

                                                <li>“Streamline order fulfillment and improve customer satisfaction”</li>

                                                <li>“Gain real-time insights into your business performance”</li>

                                                <li>“Scale your operations seamlessly as your business grows”</li>
                                       </ul>
                                    </div>
                                    <div class="layout-image-wrapper">
                                        <div class="circle-white"></div>
                                        <div class="layout-image-block">
                                            <img
                                                src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8ecc8c891067798f8246_Feature_3.png"
                                                loading="lazy"
                                                width="574"
                                                alt="Saas Frame"
                                                srcset="
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8ecc8c891067798f8246_Feature_3-p-500.png  500w,
                                                    https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64cc8ecc8c891067798f8246_Feature_3.png       1232w
                                                "
                                                sizes="(max-width: 479px) 100vw, (max-width: 767px) 89vw, (max-width: 991px) 41vw, 42vw"
                                                class="layout-image"
                                            />
                                            <div class="circle-white-copy"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-layout-1">
                    <div class="padding-global">
                        <div class="container-large">
                            <div class="padding-section-large">
                                <div class="margin-bottom margin-xxlarge">
                                    <div class="text-align-center">
                                        <div class="max-width-large align-center">
                                            <div class="margin-bottom margin-xsmall"><div class="text-weight-semibold">Tagline</div></div>
                                            <div class="margin-bottom margin-small">
                                                <h2><strong class="text-color-gradient">All-in-One e-Commerce Solution</strong></h2>
                                            </div>
                                            <p class="text-size-medium">KonektorX helps you gain control of your data
                                                system across all your systems, No more bugs no more working issues, All what your store needs in a simple app.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-layout-grid layout-1-component">
                                    <div class="w-layout-grid layout-1-row">
                                        <div class="layout-1-card">
                                            <div class="layout-circle"></div>
                                            <div id="w-node-_8c5a5c06-47e1-a6de-0834-dcb04a7922dd-06d88ff5" class="layout-1-image-wrapper">
                                                <img
                                                    src="#"
                                                    loading="lazy"
                                                    width="640"
                                                    alt="Integration_Icon"
                                                    srcset="
                                                        https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64d08b5a890c5bae40bac37c_Integration_Img-p-500.png  500w,
                                                        https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64d08b5a890c5bae40bac37c_Integration_Img.png       1280w
                                                    "
                                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 43vw, 44vw"
                                                    class="layout-1-image slide-in-0-8s"
                                                />
                                            </div>
                                            <div class="layout-1-card-content">
                                                <div class="layout-1-card-content-top">
                                                    <div class="margin-bottom margin-small"><h3>Integration</h3></div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                                                </div>
                                                <div class="margin-top margin-medium">
                                                    <div class="button-group"><a href="#" class="button is-secondary w-button">View All</a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layout-1-card-right background-cell-top">
                                            <div id="w-node-_43ae3891-d61d-9721-c568-c71afe043a74-06d88ff5" class="layout-1-image-wrapper">
                                                <img
                                                    src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce5aa99e1879e4a85bca24_Frame_2.png"
                                                    loading="lazy"
                                                    alt="Saas Frame"
                                                    sizes="(max-width: 479px) 100vw, (max-width: 767px) 90vw, (max-width: 991px) 43vw, 44vw"
                                                    srcset="
                                                        https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce5aa99e1879e4a85bca24_Frame_2-p-500.png  500w,
                                                        https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce5aa99e1879e4a85bca24_Frame_2.png       1280w
                                                    "
                                                    class="layout-1-image slide-in-0-8s"
                                                />
                                            </div>
                                            <div class="layout-1-card-content">
                                                <div class="layout-1-card-content-top">
                                                    <div class="margin-bottom margin-small"><h3>Extensions</h3></div>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                                                </div>
                                                <div class="margin-top margin-medium">
                                                    <div class="button-group"><a href="#" class="button is-secondary w-button">View All</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-faq">
                    <div class="padding-global">
                        <div class="container-small">
                            <div class="padding-section-large">
                                <div class="margin-bottom margin-xxlarge">
                                    <div class="text-align-center">
                                        <div class="max-width-large">
                                            <div class="margin-bottom margin-small"><h2 class="text-color-gradient">FAQs</h2></div>
                                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-component">
                                    <div class="w-layout-grid faq-list">
                                        <div class="faq-accordion">
                                            <div data-w-id="52c0b440-7a75-8993-64e9-d83fca3a2a84" class="faq-question">
                                                <div class="text-size-medium text-color-white">What is KonektorX</div>
                                                <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce20da39c2f11618f9d914_Plus.png" loading="lazy" width="32" alt="Plus Icon" class="faq-icon" />
                                            </div>
                                            <div style="width: 100%; height: 0px;" class="faq-answer">
                                                <div class="margin-bottom margin-small">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                                                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-accordion">
                                            <div data-w-id="52c0b440-7a75-8993-64e9-d83fca3a2a8d" class="faq-question">
                                                <div class="text-size-medium text-color-white">Is KonektorX free</div>
                                                <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce20da39c2f11618f9d914_Plus.png" loading="lazy" width="32" alt="Plus Icon" class="faq-icon" />
                                            </div>
                                            <div style="width: 100%; height: 0px;" class="faq-answer">
                                                <div class="margin-bottom margin-small">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                                                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-accordion">
                                            <div data-w-id="52c0b440-7a75-8993-64e9-d83fca3a2a96" class="faq-question">
                                                <div class="text-size-medium text-color-white">What are the benefits of using KonektorX</div>
                                                <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce20da39c2f11618f9d914_Plus.png" loading="lazy" width="32" alt="Plus Icon" class="faq-icon" />
                                            </div>
                                            <div style="width: 100%; height: 0px;" class="faq-answer">
                                                <div class="margin-bottom margin-small">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                                                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-accordion">
                                            <div data-w-id="52c0b440-7a75-8993-64e9-d83fca3a2a9f" class="faq-question">
                                                <div class="text-size-medium text-color-white">There is a free trial?</div>
                                                <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce20da39c2f11618f9d914_Plus.png" loading="lazy" width="32" alt="Plus Icon" class="faq-icon" />
                                            </div>
                                            <div style="width: 100%; height: 0px;" class="faq-answer">
                                                <div class="margin-bottom margin-small">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                                                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="faq-accordion">
                                            <div data-w-id="52c0b440-7a75-8993-64e9-d83fca3a2aa8" class="faq-question">
                                                <div class="text-size-medium text-color-white">Can I export my data</div>
                                                <img src="https://assets.website-files.com/64c8dd64e3477641a09f6d9d/64ce20da39c2f11618f9d914_Plus.png" loading="lazy" width="32" alt="Plus Icon" class="faq-icon" />
                                            </div>
                                            <div style="width: 100%; height: 0px;" class="faq-answer">
                                                <div class="margin-bottom margin-small">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                                                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="margin-top margin-xxlarge">
                                    <div class="text-align-center">
                                        <div class="max-width-medium align-center">
                                            <div class="margin-bottom margin-xsmall"><h3 class="heading-style-h4">Still have questions?</h3></div>
                                            <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                            <div class="margin-top margin-medium"><a href="#" class="button is-secondary w-button">Contact</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>



