package views

import (
	h "github.com/stelgkio/otoo/internal/adapter/web/view/component/header"
	b "github.com/stelgkio/otoo/internal/adapter/web/view/project/template/side-bar"
	n "github.com/stelgkio/otoo/internal/adapter/web/view/project/template/top_bar"
	"github.com/stelgkio/otoo/internal/core/domain"
)

templ CheckWebhookProgress(user *domain.User, projectId string) {
	<!DOCTYPE html>
	<html lang="en">
		@h.HeaderComponent()
		<body
			class="bg-body-tertiary"
		>
			<div class="d-flex flex-column flex-lg-row h-lg-100 gap-1">
				@b.ProjectSideBar(user)
				<div class="flex-lg-fill overflow-x-auto ps-lg-1 vstack vh-lg-100 position-relative">
					@n.ProjectTopBar(user)
					@WebHooksProgress("asd", nil)
				</div>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
			<script src="./assets/js/main.js"></script>
			<script src="./assets/js/switcher.js"></script>
			<script src="./assets/js/script.js"></script>
			<script>
    // Bootstrap validation script
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
		</body>
	</html>
}
