
    <div class="container">
      <p>&copy; 2023 KonektorX. All rights reserved.</p>
      <ul>
        <li><a href="#privacy-policy">Privacy Policy</a></li>
        <li><a href="#terms-of-service">Terms of Service</a></li>
      </ul>
      <div>
        <a href="#"><img src="social-media-icon-facebook.png" alt="Facebook"></a>
        <a href="#"><img src="social-media-icon-twitter.png" alt="Twitter"></a>
        <a href="#"><img src="social-media-icon-instagram.png" alt="Instagram"></a>
      </div>
    </div>
