package components

import (
	lo "github.com/stelgkio/otoo/internal/adapter/web/template/layout/head"
	n "github.com/stelgkio/otoo/internal/adapter/web/template/components/nav"
	h "github.com/stelgkio/otoo/internal/adapter/web/template/components/dashboard"
)

templ HomeComponent() {
	@lo.HeadTemplate() {
		@n.Nav()
		@h.DashboardComponent()
	}
}
