package views

import (
	t "github.com/stelgkio/otoo/internal/adapter/web/view/dashboard/template"
	"github.com/stelgkio/otoo/internal/core/domain"
)

templ ExtentionTemplate(user *domain.User, projectName, projectId string) {
	@t.DashboardTemplate(user, projectName, projectId) {
	}
}
